<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="es.elelog.deteccionCascos"
        version="1.0">

  <name>Deteccion de cascos</name>

  <description>
    Detecta si hay cascos enchufados o conectados via Bluetooth
  </description>

  <js-module src="www/HPhone.js" name="HPhone">
    <clobbers target="hphone" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="CDVHPhone">
        <param name="ios-package" value="CDVHPhone"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CDVHPhone.h"/>
    <source-file src="src/ios/CDVHPhone.m"/>
  </platform>

  <!-- android -->
  <platform name="android">

    <config-file target="config.xml" parent="/*">
      <feature name="CDVHPhone">
        <param name="android-package" value="es.elelog.CDVHPhone" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    </config-file>

    <source-file src="src/android/CDVHPhone.java" target-dir="src/es/elelog"/>
  </platform>

</plugin>